HARIHARAN K URK22AI1048 EX 1 B DATA PREPROCESSING


### Explanation:
1. **Calculate the % of missing values in a column**:
   - This calculates the percentage of missing values in each column.
2. **Replace missing value with mean if the % of missing value is less than 10%**:
   - This replaces missing numerical values with the mean of the column if the percentage of missing values is less than 10%.
3. **Perform the mode imputation for a categorical data**:
   - This replaces missing categorical values with the mode (most frequent value) of the column if the percentage of missing values is less than 10%.
4. **Perform a KNN Imputer to estimate the missing values**:
   - This uses KNN Imputer to estimate and fill missing numerical values.
5. **Drop the columns with more than 10% missing values and display the size**:
   - This drops columns with more than 10% missing values and displays the new dataset size.
6. **Drop the rows with outlier Z-score value > 3 and display the size**:
   - This removes rows that have outlier Z-scores greater than 3 and displays the new dataset size.
7. **Drop the duplicate rows based on more than 50% of column having same value**:
   - This removes duplicate rows based on more than 50% of columns having the same value and displays the new dataset size.
8. **Rescale your data using min-max normalization for a numerical feature**:
   - This normalizes the 'Billing Amount' column to a range between 0 and 1.
9. **Binarize the data by using binarizer class in python**:
   - This binarizes the 'Billing Amount' column with a threshold of 5000.
10. **Perform the one-hot encoding for a categorical feature**:
    - This performs one-hot encoding on the 'Gender' column and adds the new encoded columns to the dataset.

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler, Binarizer, OneHotEncoder

file_path = 'healthcare_dataset.csv'
df = pd.read_csv(file_path)

print("Original Dataset:")
print(df.head())

# Adding 5 rows with some missing values for experimentation
missing_data = pd.DataFrame({
    'Name': ['John Doe', 'Jane Smith', 'Alice Brown', 'Bob White', 'Eve Black'],
    'Age': [np.nan, 40, 35, np.nan, 55],
    'Gender': ['Male', 'Female', 'Female', 'Male', np.nan],
    'Blood Type': ['A+', np.nan, 'O-', 'B+', 'A-'],
    'Medical Condition': ['Hypertension', 'Cancer', np.nan, 'Asthma', 'Diabetes'],
    'Date of Admission': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'Doctor': ['Dr. A', 'Dr. B', 'Dr. C', 'Dr. D', 'Dr. E'],
    'Hospital': ['Hospital A', 'Hospital B', 'Hospital C', 'Hospital D', 'Hospital E'],
    'Insurance Provider': ['Provider A', 'Provider B', np.nan, 'Provider D', 'Provider E'],
    'Billing Amount': [5000, np.nan, 7000, 8000, 9000],
    'Room Number': [101, 102, 103, 104, 105],
    'Admission Type': ['Elective', 'Emergency', 'Urgent', np.nan, 'Emergency'],
    'Discharge Date': ['2023-01-10', '2023-01-12', '2023-01-14', '2023-01-16', '2023-01-18'],
    'Medication': ['Med A', 'Med B', 'Med C', 'Med D', 'Med E'],
    'Test Results': ['Normal', 'Abnormal', 'Normal', 'Inconclusive', 'Normal']
})

df = pd.concat([df, missing_data], ignore_index=True)

print("Dataset with Missing Values:")
df.tail(10)

Original Dataset:
                  Name  Age  Gender Blood Type Medical Condition  \
0      Tiffany Ramirez   81  Female         O-          Diabetes
1          Ruben Burns   35    Male         O+            Asthma
2            Chad Byrd   61    Male         B-           Obesity
3    Antonio Frederick   49    Male         B-            Asthma
4  Mrs. Brandy Flowers   51    Male         O-         Arthritis

  Date of Admission          Doctor                   Hospital  \
0        2022-11-17  Patrick Parker           Wallace-Hamilton
1        2023-06-01   Diane Jackson  Burke, Griffin and Cooper
2        2019-01-09      Paul Baker                 Walton LLC
3        2020-05-02  Brian Chandler                 Garcia Ltd
4        2021-07-09  Dustin Griffin    Jones, Brown and Murray

  Insurance Provider  Billing Amount  Room Number Admission Type  \
0           Medicare    37490.983364          146       Elective
1   UnitedHealthcare    47304.064845          404      Emergency
2           Medicare    36874.896997          292      Emergency
3           Medicare    23303.322092          480         Urgent
4   UnitedHealthcare    18086.344184          477         Urgent

  Discharge Date   Medication  Test Results
0     2022-12-01      Aspirin  Inconclusive
1     2023-06-15      Lipitor        Normal
2     2019-02-08      Lipitor        Normal
3     2020-05-03   Penicillin      Abnormal
4     2021-08-02  Paracetamol        Normal
Dataset with Missing Values:

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
9995,James Hood,83.0,Male,A+,Obesity,2022-07-29,Samuel Moody,"Wood, Martin and Simmons",UnitedHealthcare,39606.840083,110,Elective,2022-08-02,Ibuprofen,Abnormal
9996,Stephanie Evans,47.0,Female,AB+,Arthritis,2022-01-06,Christopher Yates,Nash-Krueger,Blue Cross,5995.717488,244,Emergency,2022-01-29,Ibuprofen,Normal
9997,Christopher Martinez,54.0,Male,B-,Arthritis,2022-07-01,Robert Nicholson,Larson and Sons,Blue Cross,49559.202905,312,Elective,2022-07-15,Ibuprofen,Normal
9998,Amanda Duke,84.0,Male,A+,Arthritis,2020-02-06,Jamie Lewis,Wilson-Lyons,UnitedHealthcare,25236.344761,420,Urgent,2020-02-26,Penicillin,Normal
9999,Eric King,20.0,Male,B-,Arthritis,2023-03-22,Tasha Avila,"Torres, Young and Stewart",Aetna,37223.965865,290,Emergency,2023-04-15,Penicillin,Abnormal
10000,John Doe,NaN,Male,A+,Hypertension,2023-01-01,Dr. A,Hospital A,Provider A,5000.000000,101,Elective,2023-01-10,Med A,Normal
10001,Jane Smith,40.0,Female,NaN,Cancer,2023-01-02,Dr. B,Hospital B,Provider B,NaN,102,Emergency,2023-01-12,Med B,Abnormal
10002,Alice Brown,35.0,Female,O-,NaN,2023-01-03,Dr. C,Hospital C,NaN,7000.000000,103,Urgent,2023-01-14,Med C,Normal
10003,Bob White,NaN,Male,B+,Asthma,2023-01-04,Dr. D,Hospital D,Provider D,8000.000000,104,NaN,2023-01-16,Med D,Inconclusive
10004,Eve Black,55.0,NaN,A-,Diabetes,2023-01-05,Dr. E,Hospital E,Provider E,9000.000000,105,Emergency,2023-01-18,Med E,Normal

In [2]:
# 1. Calculate the % of missing values in a column
missing_percentage = df.isnull().mean() * 100
print("Percentage of Missing Values in Each Column:")
print(missing_percentage)

Percentage of Missing Values in Each Column:
Name                  0.000000
Age                   0.019990
Gender                0.009995
Blood Type            0.009995
Medical Condition     0.009995
Date of Admission     0.000000
Doctor                0.000000
Hospital              0.000000
Insurance Provider    0.009995
Billing Amount        0.009995
Room Number           0.000000
Admission Type        0.009995
Discharge Date        0.000000
Medication            0.000000
Test Results          0.000000
dtype: float64

In [3]:
# 2. Replace missing value with mean if the % of missing value is less than 10%.
for col in df.select_dtypes(include=[np.number]).columns:
    if missing_percentage[col] < 10:
        df[col].fillna(df[col].mean(), inplace=True)

In [4]:
print(f"Missing values in '{col}' filled with mean.") # Print output for this step
print("\nDataset after Replacing Missing Numerical Values with Mean:")
print(df.tail(10))

Missing values in 'Room Number' filled with mean.

Dataset after Replacing Missing Numerical Values with Mean:
                       Name        Age  Gender Blood Type Medical Condition  \
9995             James Hood  83.000000    Male         A+           Obesity
9996        Stephanie Evans  47.000000  Female        AB+         Arthritis
9997   Christopher Martinez  54.000000    Male         B-         Arthritis
9998            Amanda Duke  84.000000    Male         A+         Arthritis
9999              Eric King  20.000000    Male         B-         Arthritis
10000              John Doe  51.449765    Male         A+      Hypertension
10001            Jane Smith  40.000000  Female        NaN            Cancer
10002           Alice Brown  35.000000  Female         O-               NaN
10003             Bob White  51.449765    Male         B+            Asthma
10004             Eve Black  55.000000     NaN         A-          Diabetes

      Date of Admission             Doctor                   Hospital  \
9995         2022-07-29       Samuel Moody   Wood, Martin and Simmons
9996         2022-01-06  Christopher Yates               Nash-Krueger
9997         2022-07-01   Robert Nicholson            Larson and Sons
9998         2020-02-06        Jamie Lewis               Wilson-Lyons
9999         2023-03-22        Tasha Avila  Torres, Young and Stewart
10000        2023-01-01              Dr. A                 Hospital A
10001        2023-01-02              Dr. B                 Hospital B
10002        2023-01-03              Dr. C                 Hospital C
10003        2023-01-04              Dr. D                 Hospital D
10004        2023-01-05              Dr. E                 Hospital E

      Insurance Provider  Billing Amount  Room Number Admission Type  \
9995    UnitedHealthcare    39606.840083          110       Elective
9996          Blue Cross     5995.717488          244      Emergency
9997          Blue Cross    49559.202905          312       Elective
9998    UnitedHealthcare    25236.344761          420         Urgent
9999               Aetna    37223.965865          290      Emergency
10000         Provider A     5000.000000          101       Elective
10001         Provider B    25509.502977          102      Emergency
10002                NaN     7000.000000          103         Urgent
10003         Provider D     8000.000000          104            NaN
10004         Provider E     9000.000000          105      Emergency

      Discharge Date  Medication  Test Results
9995      2022-08-02   Ibuprofen      Abnormal
9996      2022-01-29   Ibuprofen        Normal
9997      2022-07-15   Ibuprofen        Normal
9998      2020-02-26  Penicillin        Normal
9999      2023-04-15  Penicillin      Abnormal
10000     2023-01-10       Med A        Normal
10001     2023-01-12       Med B      Abnormal
10002     2023-01-14       Med C        Normal
10003     2023-01-16       Med D  Inconclusive
10004     2023-01-18       Med E        Normal

In [5]:
# 3. Perform the mode imputation for a categorical data.
for col in df.select_dtypes(include=[object]).columns:
    if missing_percentage[col] < 10:
        df[col].fillna(df[col].mode()[0], inplace=True)
        print(f"Missing values in '{col}' filled with mode: {df[col].mode()[0]}") # Print output for this step
print("\nDataset after Mode Imputation for Categorical Data:")
print(df.tail(10))

Missing values in 'Name' filled with mode: Michael Johnson
Missing values in 'Gender' filled with mode: Female
Missing values in 'Blood Type' filled with mode: AB-
Missing values in 'Medical Condition' filled with mode: Asthma
Missing values in 'Date of Admission' filled with mode: 2019-04-12
Missing values in 'Doctor' filled with mode: Michael Johnson
Missing values in 'Hospital' filled with mode: Smith PLC
Missing values in 'Insurance Provider' filled with mode: Cigna
Missing values in 'Admission Type' filled with mode: Urgent
Missing values in 'Discharge Date' filled with mode: 2021-11-28
Missing values in 'Medication' filled with mode: Penicillin
Missing values in 'Test Results' filled with mode: Abnormal

Dataset after Mode Imputation for Categorical Data:
                       Name        Age  Gender Blood Type Medical Condition  \
9995             James Hood  83.000000    Male         A+           Obesity
9996        Stephanie Evans  47.000000  Female        AB+         Arthritis
9997   Christopher Martinez  54.000000    Male         B-         Arthritis
9998            Amanda Duke  84.000000    Male         A+         Arthritis
9999              Eric King  20.000000    Male         B-         Arthritis
10000              John Doe  51.449765    Male         A+      Hypertension
10001            Jane Smith  40.000000  Female        AB-            Cancer
10002           Alice Brown  35.000000  Female         O-            Asthma
10003             Bob White  51.449765    Male         B+            Asthma
10004             Eve Black  55.000000  Female         A-          Diabetes

      Date of Admission             Doctor                   Hospital  \
9995         2022-07-29       Samuel Moody   Wood, Martin and Simmons
9996         2022-01-06  Christopher Yates               Nash-Krueger
9997         2022-07-01   Robert Nicholson            Larson and Sons
9998         2020-02-06        Jamie Lewis               Wilson-Lyons
9999         2023-03-22        Tasha Avila  Torres, Young and Stewart
10000        2023-01-01              Dr. A                 Hospital A
10001        2023-01-02              Dr. B                 Hospital B
10002        2023-01-03              Dr. C                 Hospital C
10003        2023-01-04              Dr. D                 Hospital D
10004        2023-01-05              Dr. E                 Hospital E

      Insurance Provider  Billing Amount  Room Number Admission Type  \
9995    UnitedHealthcare    39606.840083          110       Elective
9996          Blue Cross     5995.717488          244      Emergency
9997          Blue Cross    49559.202905          312       Elective
9998    UnitedHealthcare    25236.344761          420         Urgent
9999               Aetna    37223.965865          290      Emergency
10000         Provider A     5000.000000          101       Elective
10001         Provider B    25509.502977          102      Emergency
10002              Cigna     7000.000000          103         Urgent
10003         Provider D     8000.000000          104         Urgent
10004         Provider E     9000.000000          105      Emergency

      Discharge Date  Medication  Test Results
9995      2022-08-02   Ibuprofen      Abnormal
9996      2022-01-29   Ibuprofen        Normal
9997      2022-07-15   Ibuprofen        Normal
9998      2020-02-26  Penicillin        Normal
9999      2023-04-15  Penicillin      Abnormal
10000     2023-01-10       Med A        Normal
10001     2023-01-12       Med B      Abnormal
10002     2023-01-14       Med C        Normal
10003     2023-01-16       Med D  Inconclusive
10004     2023-01-18       Med E        Normal

In [6]:
# 4. Perform a KNN Imputer to estimate the missing values.
imputer = KNNImputer(n_neighbors=2)
df_imputed = pd.DataFrame(imputer.fit_transform(df.select_dtypes(include=[np.number])), columns=df.select_dtypes(include=[np.number]).columns)
df.update(df_imputed)

In [7]:
print("Dataset after KNN Imputer for Numerical Data:")
print(df.tail(10))

Dataset after KNN Imputer for Numerical Data:
                       Name        Age  Gender Blood Type Medical Condition  \
9995             James Hood  83.000000    Male         A+           Obesity
9996        Stephanie Evans  47.000000  Female        AB+         Arthritis
9997   Christopher Martinez  54.000000    Male         B-         Arthritis
9998            Amanda Duke  84.000000    Male         A+         Arthritis
9999              Eric King  20.000000    Male         B-         Arthritis
10000              John Doe  51.449765    Male         A+      Hypertension
10001            Jane Smith  40.000000  Female        AB-            Cancer
10002           Alice Brown  35.000000  Female         O-            Asthma
10003             Bob White  51.449765    Male         B+            Asthma
10004             Eve Black  55.000000  Female         A-          Diabetes

      Date of Admission             Doctor                   Hospital  \
9995         2022-07-29       Samuel Moody   Wood, Martin and Simmons
9996         2022-01-06  Christopher Yates               Nash-Krueger
9997         2022-07-01   Robert Nicholson            Larson and Sons
9998         2020-02-06        Jamie Lewis               Wilson-Lyons
9999         2023-03-22        Tasha Avila  Torres, Young and Stewart
10000        2023-01-01              Dr. A                 Hospital A
10001        2023-01-02              Dr. B                 Hospital B
10002        2023-01-03              Dr. C                 Hospital C
10003        2023-01-04              Dr. D                 Hospital D
10004        2023-01-05              Dr. E                 Hospital E

      Insurance Provider  Billing Amount  Room Number Admission Type  \
9995    UnitedHealthcare    39606.840083          110       Elective
9996          Blue Cross     5995.717488          244      Emergency
9997          Blue Cross    49559.202905          312       Elective
9998    UnitedHealthcare    25236.344761          420         Urgent
9999               Aetna    37223.965865          290      Emergency
10000         Provider A     5000.000000          101       Elective
10001         Provider B    25509.502977          102      Emergency
10002              Cigna     7000.000000          103         Urgent
10003         Provider D     8000.000000          104         Urgent
10004         Provider E     9000.000000          105      Emergency

      Discharge Date  Medication  Test Results
9995      2022-08-02   Ibuprofen      Abnormal
9996      2022-01-29   Ibuprofen        Normal
9997      2022-07-15   Ibuprofen        Normal
9998      2020-02-26  Penicillin        Normal
9999      2023-04-15  Penicillin      Abnormal
10000     2023-01-10       Med A        Normal
10001     2023-01-12       Med B      Abnormal
10002     2023-01-14       Med C        Normal
10003     2023-01-16       Med D  Inconclusive
10004     2023-01-18       Med E        Normal

In [8]:
# 5. Drop the columns with more than 10% missing values and display the size.
df_dropped_cols = df.dropna(axis=1, thresh=len(df) * 0.9)
print("Dataset Size after Dropping Columns with >10% Missing Values:", df_dropped_cols.shape)

Dataset Size after Dropping Columns with >10% Missing Values: (10005, 15)

In [9]:
# 6. Drop the rows with outlier Z-score value > 3 and display the size.
from scipy.stats import zscore
z_scores = df.select_dtypes(include=[np.number]).apply(zscore)
df_no_outliers = df[(np.abs(z_scores) < 3).all(axis=1)]
print("Dataset Size after Dropping Rows with Outlier Z-score > 3:", df_no_outliers.shape)

Dataset Size after Dropping Rows with Outlier Z-score > 3: (10005, 15)

In [10]:
# 7. Drop the duplicate rows based on more than 50% of column having same value.
df_no_duplicates = df.drop_duplicates(subset=df.columns[:int(len(df.columns) * 0.5)])
print("Dataset Size after Dropping Duplicate Rows based on >50% Columns:", df_no_duplicates.shape)

Dataset Size after Dropping Duplicate Rows based on >50% Columns: (10005, 15)

In [11]:
# 8. Rescale your data using min-max normalization for a numerical feature.
scaler = MinMaxScaler()
df['Billing Amount'] = scaler.fit_transform(df[['Billing Amount']])
print("Billing Amount after Min-Max Normalization:")
print(df[['Billing Amount']].head())

Billing Amount after Min-Max Normalization:
   Billing Amount
0        0.744775
1        0.945060
2        0.732201
3        0.455206
4        0.348728

In [12]:
# 9. Binarize the data by using binarizer class in python
binarizer = Binarizer(threshold=5000)
df['Billing Amount Binarized'] = binarizer.fit_transform(df[['Billing Amount']])
print("Billing Amount after Binarization:")
print(df[['Billing Amount Binarized']].head())

Billing Amount after Binarization:
   Billing Amount Binarized
0                       0.0
1                       0.0
2                       0.0
3                       0.0
4                       0.0

In [13]:
# 10. Perform the one-hot encoding for a categorical feature.
encoder = OneHotEncoder(sparse=False)
encoded_columns = encoder.fit_transform(df[['Gender']])
encoded_df = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(['Gender']))
df = df.join(encoded_df)
print("Dataset after One-Hot Encoding 'Gender':")
print(df.head())

Dataset after One-Hot Encoding 'Gender':
                  Name   Age  Gender Blood Type Medical Condition  \
0      Tiffany Ramirez  81.0  Female         O-          Diabetes
1          Ruben Burns  35.0    Male         O+            Asthma
2            Chad Byrd  61.0    Male         B-           Obesity
3    Antonio Frederick  49.0    Male         B-            Asthma
4  Mrs. Brandy Flowers  51.0    Male         O-         Arthritis

  Date of Admission          Doctor                   Hospital  \
0        2022-11-17  Patrick Parker           Wallace-Hamilton
1        2023-06-01   Diane Jackson  Burke, Griffin and Cooper
2        2019-01-09      Paul Baker                 Walton LLC
3        2020-05-02  Brian Chandler                 Garcia Ltd
4        2021-07-09  Dustin Griffin    Jones, Brown and Murray

  Insurance Provider  Billing Amount  Room Number Admission Type  \
0           Medicare        0.744775          146       Elective
1   UnitedHealthcare        0.945060          404      Emergency
2           Medicare        0.732201          292      Emergency
3           Medicare        0.455206          480         Urgent
4   UnitedHealthcare        0.348728          477         Urgent

  Discharge Date   Medication  Test Results  Billing Amount Binarized  \
0     2022-12-01      Aspirin  Inconclusive                       0.0
1     2023-06-15      Lipitor        Normal                       0.0
2     2019-02-08      Lipitor        Normal                       0.0
3     2020-05-03   Penicillin      Abnormal                       0.0
4     2021-08-02  Paracetamol        Normal                       0.0

   Gender_Female  Gender_Male
0            1.0          0.0
1            0.0          1.0
2            0.0          1.0
3            0.0          1.0
4            0.0          1.0

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(